.home_container {
  background-color: var(--primary-color-3);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_topPiece {
  width: 100%;
  height: 8%;
  background-color: var(--primary-color-2);
}