.searchRobots_container {
  display: flex;
  flex-direction: column;
}

.searchRobots_searchBarContainer {
  width: 90%;
  margin: 20px auto;
  position: relative;
}

.searchRobots_searchBarContainer input {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 2px solid var(--primary-color-2);
  border-radius: 5px;
}