.passwordPrompt_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordPrompt_inputs {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
}

.passwordPrompt_inputField{
    width: 80%;
    padding: 5px 40px;
    border: 2px solid var(--primary-color-3);
    border-radius: 5px;
}

.passwordPrompt_funny{
    padding-top: 2rem;
    display: block;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    opacity: 0; /* Start fully invisible */
    transform: scale(0.9);
}