.statGlimpse_headerSmaller {
    color: var(--secondary-color-1);
    font-size: 14px;
  }
  
  .statGlimpse_text {
    color: var(--secondary-color-1);
    font-size: 12px;
  }
  
  .statGlimpse_scoutingDataGlimpsePiece {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--primary-color-2);
  }
  
  .statGlimpse_metadata {
    gap: 10px;
    max-width: 60%;
    flex-wrap: wrap;
  }
  
  .statGlimpse_fillerImage {
    width: 120px;
    height: 100%;
  }
  
  .statGlimpse_greyBox {
    height: 0;
    background-color: var(--secondary-color-1);
    transition: width 0.3s ease;
  }