.displayProfile_card {
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    margin: 2rem;
    padding: 1rem;
}

.displayProfile_teamSelection {
    margin-bottom: 1rem;
}