.multiCounter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.multiCounter-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.multiCounter-input {
    width: 4rem;
    text-align: center;
}