.multiImageUpload-imageGrid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.multiImageUpload-imageItem {
    position: relative;
}

.multiImageUpload-image {
    object-fit: cover;
}

.multiimageUpload-removeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
}