.matchStats_buttonPiece {
    font-size: 24px;
    cursor: pointer;
    color: #616161;
    margin: 2vh;
    display: flex;
    flex-direction: column;
}

.matchStats_teamMain{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.matchStats_teamDesc{
    border: 2px solid red;
    padding-left: 5vw;
}

/*
.matchStats_container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: #616161;
}

.matchStats_buttonPiece {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000; 
    color: #616161;
    font-size: 24px;
    cursor: pointer;
}

.matchStats_teamMain {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.matchStats_teamNameNum {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.matchStats_header {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.matchStats_subHeader {
    font-size: 12px;
}

.matchStats_image {
    width: 55%;
    height: 100px;
}

.matchStats_headerText{
    font-weight: bold;
}

.matchStats_headerText2{
    text-decoration: underline;
}
.matchStats_teamDesc {
    display: flex;
    flex-direction: column;
}

.matchStats_teamDescText {
    font-size: 14px;
}
*/
