.recordGame_container {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #616161;
}

.recordGame_middlePiece {
    width: 90%;
    flex: 1;
    min-height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.recordGame_header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1vh;
}

.recordGame_return-icon {
    font-size: 24px;
    color: #616161;
}

.recordGame_header-section{
    display: flex;
    flex-direction: column;
}

.recordGame_headerText {
    font-size: 17px;
    color: #616161;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.recordGame_headerText2{
    text-decoration: underline;
    margin-bottom: 1vh;
}

.recordGame_subText {
    font-size: 15px;
    color: #616161;
}

.recordGame_description{
    font-size: 14px;
    margin-bottom: 1vh;
}

.recordGame_dropdown {
    width: 45%;
    min-height: 50px;
    margin-top: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.recordGame_matchNumber {
    width: 45%;
    font-size: 15px;
    min-height: 50px;
    margin-top: 20px;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 10px;
}

.recordGame_checkbox-section{
    margin-top: 2vh;
}
.recordGame_checkbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.recordGame_pointInput {
    width: 75px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 30px;
}

.recordGame_pointContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    gap: 1vh;

    /* Make it responsive */
    width: 90%; /* 90% of the parent container */
    min-width: 5vw;
    box-sizing: border-box; /* Ensure padding is included in width */

}

.recordGame_submitButton {
    width: 80px;
    height: 40px;
    background-color: #F27468;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #E1584B;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.recordGame_submitButtonText {
    color: white;
    font-size: 17px;
}

.recordGame_detailInput {
    width: 95%;
    font-size: 15px;
    min-height: 100px;
    max-height: 200px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: top;
    resize: none;
}

.recordGame_row {
    display: flex;
    flex-direction: row;
}

.recordGame_column {
    display: flex;
    flex-direction: column;
}

.recordGame_space-between {
    justify-content: space-between;
}

.recordGame_gap-10 {
    gap: 10px;
}

.recordGame_gap-20 {
    gap: 20px;
}

.recordGame_marginTop20 {
    margin-top: 20px;
}

.recordGame_marginTop30 {
    margin-top: 30px;
}

.recordGame_scrollView {
    overflow-y: auto;
    padding: 25px;
    padding-bottom: 130px;
    flex: 1;
    overflow-x: auto;
}

#recordGame_coralDiv1 {
    display:flex;
  }
  
  #recordGame_coralDiv2 {
    display:flex;
  }
  
  #recordGame_algae {
    display: flex;
  }
