.selectProfile_container {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPiece {
  width: 100%;
  height: 8%;
  background-color: #E1584B;
}

.selectProfile_middlePiece {
  align-items: center;
  justify-items: center;
  width: 90%;
  min-height: 100vy;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.selectProfile_header {
  width: 100%;
  min-height: 6vh;
  color: #616161;
  font-size: 17px;
}

.selectProfile_subheader {
  width: 100%;
  min-height: 4vh;
  color: #616161;
  font-size: 14px;
}

.selectProfile_searchSection {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #616161;
}

.viewSelection {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  max-height: 60vh;
}

.profileSelection {
  width: 85%; 
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.createButton {
  width: 60%;
  min-height: 5vh;
  background-color: #F27468;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 1.5vh;
}

.createButtonText {
  color: white;
  font-size: 17px;
}