.nav-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.topPiece {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topbar-height);
  background: var(--primary-color-2);
  z-index: 1000;
}

.tabContent {
  flex: 1;
  padding-top: var(--topbar-height);
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: var(--bottombar-height);
}
  
.nav-tabBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  height: calc(var(--bottombar-height) + env(safe-area-inset-bottom));
  padding: 10px 0;
  padding-bottom: calc(10px + env(safe-area-inset-bottom));

  background-color: var(--primary-color-2);
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: space-around;
  z-index: 900;
}

.nav-tabLink {
  color: var(--primary-color-1);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-activeTab {
  color: var(--primary-color-3);
}

.nav-icon {
  font-size: clamp(20px, calc(var(--bottombar-height) * 0.45), 32px);
  line-height: 1;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}