.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.nav-tabBar {
  position: fixed;
  background-color: var(--primary-color-2);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.nav-tabBar.hidden {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.nav-tabBar.visible {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}
  
.nav-tabLink {
  color: var(--primary-color-1);
  text-decoration: none;
}

.nav-activeTab {
  color: var(--primary-color-3);
}

.nav-icon {
  font-size: 25px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}