.welcome_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_topPiece {
    width: 100%;
    height: 7.5%;
    background-color: var(--primary-color-2);
}

.welcome_mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    padding: 0 20px;
}

.welcome_button {
    background-color: var(--primary-color-1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.welcome-button:hover {
    background-color: var(--primary-color-2);
}

.welcome_logo {
    height: 15rem;
}